
.hero-h1, .hero-h4 {
  background-color: yellow;
  height: fit-content;  
  display: inline-block;
  width: fit-content;
  margin: 20px 0 0 20px;
  padding: 15px;
}

.item-1, .item-2 {
  height: 45%;
  border: 1px green solid;
  background-color: yellow; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.col-1 {
  flex-grow: 2;
  background: url('https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg');
  height: 400px;
  background-position: bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.col-2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
}


.hero-container {
  display: flex;
  width: 100%;
  padding: 20px;
}

@media (max-width: 685px) {
  .hero-container {
    flex-direction: column;
  }

  .col-2 {
    flex-direction: row;
    padding: 10px 0;
  }
  .item-1, .item-2 {
    width: 45%;
  }
}