.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form {
  background-color: yellow;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 25px;
  margin-block-end: .5em;
  margin-block-start: .5em;
}

.form-submit{
  margin: 20px;
}